<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Panda Books</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>PandaBooksController</servlet-name>
        <servlet-class>panda.books.controller.PandaBooksController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PandaBooksController</servlet-name>
        <url-pattern>/PandaBooksController</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/errors/error_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/error_500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errors/error_java.jsp</location>
    </error-page>
    
    <listener>
        <listener-class>panda.books.util.pandaBookContextListener</listener-class>
    </listener>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/PandaBooksController?action=checkout</url-pattern>
        </web-resource-collection>

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
